.scroll-content,
.item-carousel {
    margin-top: 64px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 168px !important;
    height: 190px !important;
}